<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.timothy.themoviedb">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".TheMovieDbApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.TheMovieDB">

        <activity
            android:name=".ui.LauncherActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.timothy.themoviedb.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="com.timothy.themoviedb.util.initializers.AndroidThreeTenInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="com.timothy.themoviedb.util.initializers.StrictModeInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="com.timothy.themoviedb.util.initializers.TimberInitializer"
                android:value="androidx.startup" />

        </provider>

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="com.timothy.themoviedb.workmanager-init"
            android:exported="false"
            tools:node="remove" />

    </application>

</manifest>